@font-face {
  font-family: 'Gilroy';
  src: url('path/to/Gilroy-Regular.woff2') format('woff2'),
       url('path/to/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy",gilroy,serif,sans-serif;
}
html,body{
  width: 100%;
  scroll-behavior: smooth;
  
  overflow-x: hidden;
}
.main{
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}
.nav{
  width: 100vw;
  height: 10vh;
  background: #ffffff77;
  
  position: sticky;
  /* border-bottom: 0.1px solid rgb(127, 120, 120); */
  box-shadow: 0.4px 0.4px rgba(58, 54, 54, 0.705);
  /* overflow: hidden; */
  justify-content: space-between;
  z-index: 99999;
display: flex;
left: 0%;
top: 0%;
}

.nav-second{
  overflow: hidden;
  height: 10vh;
  width: 100%;
}

.nav_l{

  height: 90%;
  padding: 0.1vw;
  width: 20%;
  position: relative;

}
.nav_l>img{
  height: 100%;
  margin-left: 4vw;
  /* size: 1vw; */
  position: absolute;
}
.nav_m{
  width: 60%;
  padding: 0vw 0.6vw;
  /* background-color: aqua; */
  margin-left: 4.1vw;
}
.nav_m a{
  text-decoration: none;
 color: rgb(82, 67, 67);
 font-size: 2.8vw;
 padding: 1vw 1.8vw;
 margin-left: 1vw;
}
.nav_m a h6{
  font-weight: 900;
  margin-top: 0.4vw;
  font-size: 1.3vw;
  /* background-color: #EE9322; */
 padding-bottom: 0.3vw;
}
.nav_m a .fist-home-link {
  border-bottom:  3px solid;
  
  color: #7A9D54;

}
.nav_m a h6:hover{
  border-bottom:  3px solid;
  /* color: #D83F31; */
  color: #7A9D54;

}
.nav_r{
  /* background-color: black; */
  width: 20%;
  text-align: center;
  justify-content: center;
  position: relative;
}
.nav_r a{
  padding: 0.5vw 1.6vw;
  border-radius: 20px;
  
  border: 0.1px solid #34474596;
  margin-top: 1.3vh;
  position: absolute;
  background-color: #EE9322;


}
.nav_r a:hover{
  cursor: pointer;
  background-color: #EE9322;
  height: 90%;
  
}
.nav_r a i{
  font-size: 1.6vw;
}
.nav_r{
display: none;
}
/* Your existing CSS */

@media screen and (max-width: 868px) {
.nav{
   position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  display: none;
  opacity: none;
  height: 1vh;
  background-color: transparent;
  
}

.nav-second{
  overflow: hidden;
  height: 3vh;
  width: 100%;
}

.nav_l{
  

  background-color: transparent;
  height: 30%;
  padding: 0.1vw;
  width: 100%;
  position: relative;
  background-color: #33333381;
border-bottom: 0.4px solid rgba(0, 0, 0, 0.385);

}
.nav_l>img{
  height: 100%;
  margin-left: 3vw;
  /* size: 1vw; */
  position: absolute;
}
.nav_m {
    display: none;
    flex-direction: column;
    /* position: absolute; */
    /* top: 3vh; */
    /* left: -4; */
    display: none;
  opacity: 0;
    width: 100%;
    margin-left: 0;
    background: #ffffff88;
    z-index: 1;
}
.nav_m a {
    padding: 1.5vw 1.8vw;
    text-align: center;
    border: none;
    font-size: 3vw;
}

.nav_m a h6{
  font-size: 2.8vw;
}
.nav_r {
  position: absolute;
  z-index: 999999999;
  right: 1%;
  background-color: transparent;
  top: 1%;
  display: flex;
  width: 10vw;
  height: 7vw;
  
}
} */

/* Add CSS to hide the button when not needed */
.nav_r .menu-button {
display: flex;
background-color: transparent;
border: none;
width: 100%;
height: 100%;

}
.nav_r .menu-button i{
color: white;
background: #7a9d54;
padding: 0.6vw 0.8vw;
}


.page1{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.page1 video {
  /* padding:0.5vh 0  ; */
  /* position: absolute; */
 height:100vh;
 width: 100vw;
 object-fit: cover;
 background-size: cover;   
 font-size: 1.2vw;
 position: absolute;
}

.page1 .overlay1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-shadow: 10px 8px 6px #000000c1;
  z-index: 99;
  color: #fff;
  background-color: #00000097;
  font: 900 2rem sans-serif;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 7s;
}
.page1 .overlay1 img{
  color: #7A9D54;
  font-size: 12vw;
  opacity: 0.6;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
.page2{
  width: 100vw;
  height: 100vh;
  /* background-color: #ca6060; */
 
 
  /* position: relative; */
 
}


.page2 h1,.page2 h2,.page2 h3,.page2 h4,.page2 h5,.page2 h6 {
  color:#7A9D54;
}
.page2 a,.page2 a:hover,.page2 a:focus,.page2 a:active {
    text-decoration: none;
    outline: none;
}
.page2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page2 .heading {
    margin-top: 0px;
}
.page2 .separator {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.page2 .separator:after,
.page2 .separator:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #557A46;
    top: 50%;
}

.page2 .separator i {
    color: #7A9D54;
}

.page2 .separator:after {
    right: 140%;
}

.page2 .separator:before {
    left: 140%;
}

.page2 .amazing_feature {
padding-top:80px;
padding-bottom:50px;
}

.page2 .single_feature{
background: #fff none repeat scroll 0 0;
box-shadow:0 2px 30px rgba(0, 0, 0, 0.1);
margin-bottom: 30px;
padding: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.page2 .single_feature:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #557A46;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.page2 .single_feature:hover,.page2 .single_feature:focus,.page2 .single_feature:active {
  color: white;
}
.page2 .single_feature:hover:before,.page2 .single_feature:focus:before,.page2 .single_feature:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/* .feature_icon{} */
.page2 .single_feature i {
  border: 1px solid #e8e8e9;
  border-radius: 50%;
  color: #333;
  float: left;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  margin-right: 15px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease 0s;
  width: 60px;
  z-index: 3;
  margin-top: 25px;
}
.page2 .single_feature:hover i{
  background: #fff;border: 1px solid #fff;color:#557A46;
}
.page2 .single_feature h3 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight:400;
  margin-top:0px;
  overflow: hidden;
}
.page2 .single_feature:hover h3{color:#fff;}
.page2 .single_feature span {
border-bottom: 1px dashed #ccc;
display: block;
margin: 15px auto 10px;
width: 80px;
}
.page2 .single_feature p { margin-bottom: 0 ;overflow: hidden;}



.page3{
  width: 100vw;
  height: max-content;
  
}

.contact .info {
  border-top: 3px solid #7A9D54;
  border-bottom: 3px solid #7A9D54;
  padding: 30px;
  background: #fff;
  width: 100vw;
  height: 50vh;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #557A46;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #557A46;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #557A46;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #7A9D54;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #557A46;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #7A9D54;
  border-bottom: 3px solid #7A9D54;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #7A9D54;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #7A9D54;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #557A46;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #557A46;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #557A46;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.details{
  width: 40vw;
  height: 40vh;
  background-color: #99f0b8;
}


/* //page4 csss */
.page4{
  width: 100vw;
  height: 100vh;
  padding: 3vw 0;
  position: absolute;
  justify-content: center;
  overflow: hidden

}

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");
.page4 body {
align-items: center;
background-color: #f2f2f2;
display: flex;
font-family: "Merriweather", serif;
flex-wrap: wrap;
justify-content: center;
height: 100vh;
margin: 0;
}
.page4 .person {
align-items: center;
display: flex;
flex-direction: column;
width: 280px;
}
.page4 .container {
border-radius: 50%;
height: 312px;
-webkit-tap-highlight-color: transparent;
transform: scale(0.48);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
width: 400px;
}

.page4 .container:after {
background-color: #f2f2f2;
content: "";
height: 10px;
position: absolute;
top: 390px;
width: 100%;
}
.page4 .container:hover {
transform: scale(0.54);
}
.page4 .container-inner {
clip-path: path(
  "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
);
position: relative;
transform-origin: 50%;
top: -200px;
}
.page4 .circle {
background-color: #fee7d3;
border-radius: 50%;
cursor: pointer;
height: 380px;
left: 10px;
pointer-events: none;
position: absolute;
top: 210px;
width: 380px;
}
.page4 .img {
pointer-events: none;
position: relative;
transform: translateY(20px) scale(1.15);
transform-origin: 50% bottom;
transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page4 .container:hover .img {
transform: translateY(0) scale(1.2);
}
.page4 .img1 {
left: 22px;
top: 164px;
width: 340px;
}
.page4 .img2 {
left: -46px;
top: 174px;
width: 444px;
}
.page4 .img3 {
left: -16px;
top: 144px;
width: 466px;
}
.page4 .divider {
background-color: #ca6060;
height: 1px;
width: 160px;
}
.page4
.name {
color: #404245;
font-size: 36px;
font-weight: 600;
margin-top: 16px;
text-align: center;
}
.page4 .title {
color: #6e6e6e;
font-family: arial;
font-size: 14px;
font-style: italic;
margin-top: 4px;
}
.page4 .about{
  left: 0%;

}
.page4 .about h1{
  color: #557A46;
  font-size: 6vw;

}
.page4 .about p{
  color: #7A9D54;
  font-size: 1.8vw;
}


/* Default styles for larger screens */

/* Your existing CSS code goes here */

/* Media query for screens with a maximum width of 768px (typical for tablets and smaller screens) */
@media (max-width: 868px) {
* {
  font-size: 14px; /* Adjust font size for all elements */
}

/* Adjust navigation bar styles for smaller screens */
.nav {
  height: 8vh;
  /* Other adjustments for the navigation bar */
}

.page1{
  height: 60vh;
}
.page1 .overlay1{
  display: none;
}
.page1 .overlay1 img{
  color: #7A9D54;
  font-size: 3vw;
  opacity: 0.6;
  
}
/* Adjust styles for page1 video */
.page1 video {
  height: 60vh;
  /* Other adjustments for the video */
}

/* Adjust styles for page2 single_feature */
.page2 .single_feature {
  width: 80%; /* Adjust width for single_feature elements */
  /* Other adjustments for single_feature elements */
}
.page3{
  height: 60vh;
  padding-top: 3vh;
}
.page4{
  height: max-content;
  padding-top: 7vh;
  padding-top: 4vh;
  flex-direction: column;
}

.page4 .about{
  left: 0%;
  top: 0%;
  width: 10vw;

}
.page4 .about h1{
  color: #557A46;
  font-size: 10vw;

}
.page4 .about p{
  color: #7A9D54;
  font-size: 0vw;
}

/* Add more media query adjustments as needed */
}

/* Media query for screens with a maximum width of 480px (typical for mobile devices) */
@media (max-width: 880px) {
* {
  font-size: 12px; /* Further reduce font size for very small screens */
}

/* Adjust navigation bar styles for very small screens */
.nav {
  height: 20vh;
  /* Other adjustments for the navigation bar */
}

/* Adjust styles for page1 video for mobile screens */
.page1 video {
  height: 40vh;
  /* Other adjustments for the video */
}

/* Adjust styles for page2 single_feature for mobile screens */
.page2 .single_feature {
  width: 100%; /* Adjust width for full-width single_feature elements */
  /* Other adjustments for single_feature elements on mobile */
}

/* Additional adjustments for smaller screens go here */

/* For example, hide the navigation bar completely or provide a mobile menu */
.nav {
  display: inline;
}


}













/* premcode */

/* For screens with a maximum width of 768px (typical for tablets and smaller screens) */
@media (max-width: 1000px )and (min-width: 700px )  {

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: none;
    opacity: 0; /* Use a value between 0 and 1 for opacity */
    height: 1vh;
    background-color: transparent;
  }
  
  .nav-second {
    overflow: hidden;
    height: 3vh;
    width: 100%;
  }
  
  .nav_l {
    background-color: transparent;
    height: 30%;
    padding: 0.1vw;
    width: 100%;
    position: relative;
    background-color: #33333381;
    border-bottom: 0.4px solid rgba(0, 0, 0, 0.385);
  }
  
  .nav_l > img {
    height: 100%;
    margin-left: 3vw;
    position: absolute;
  }
  
  .nav_m {
    display: none;
    flex-direction: column;
    opacity: 0;
    width: 100%;
    background: #ffffff88;
    z-index: 1;
  }
  
  .nav_m a {
    padding: 1.5vw 1.8vw;
    text-align: center;
    font-size: 3vw;
  }
  
  .nav_m a h6 {
    font-size: 2.8vw;
  }
  
  .nav_r {
    position: absolute;
    z-index: 999999999;
    right: 1%;
    top: 1%;
    display: flex;
    width: 10vw;
    height: 7vw;
  }
  
  /* Add CSS to hide the button when not needed */
  .nav_r .menu-button {
    display: flex;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
  }
  
  .nav_r .menu-button i {
    color: white;
    background: #7a9d54;
    padding: 0.6vw 0.8vw;
  }
  
  
.page1 video{
  height: 100%;
  object-fit: cover;
  
}
.page

#row{
  display: flex;
  padding-top: 3vh;
  flex-direction: column;
  width: 100%;
  height: 120vh;
  /* background-color: #333; */
  align-items: center;


 }
 #row #row2{
  width: 80%;
 }
 #row #row3{
  width: 80%;
 }
 #row #row4{
  width: 80%;
 }

 #row #row5{
  width: 80%;
 }
 #row #row6{
  width: 80%;
 }
 #row #row7{
  width: 80%;
 }
.page3{
  /* background: #000; */
  height: 73vh;
  padding: 1vh 0;
  margin-top: -34vw;
}


.page3 .row{
  /* background: #000; */
  height: 40vh;
  padding-top: 4vh;
}
.page4 {
  flex-direction: row;
}
.page4 #about{
  margin-top: -3vh;
 
}
.page4 #about p{
  opacity: 0;
}

}

/* For screens with a maximum width of 480px (typical for mobile devices) */
@media (max-width: 480px) {
  /* CSS adjustments for screens up to 480px in width (common for mobile devices) */
  .page1 video{
    height: 100%;
    object-fit: cover;
  }
  

  .page4 .container{
    padding-top: 3vh;
   
  }
  .page4 #about p{
    opacity: 0;
  }
}

@media (min-width: 350px) {
    .page2{
      
      height: 200vh;

      
    }
    .page3{
      /* background: #000; */
      height: 80vh;
      padding: 1vh 0;
      /* margin-top: -34vw; */
     
    }
    
    
    .page3 .row{
      /* background: #000; */
      height: 40vh;
      padding-top: 4vh;
    }
  
    .page4 .container{
      padding-top: 7vh;
     
    }
    .page4 #about p{
      opacity: 0;
    }
  }
    
@media (min-width: 390px) 
{
  .page2{
    
    height: 115vh;
  }
  .page3{
    /* background: #000; */
    height: 80vh;
    padding: 1vh 0;
    /* margin-top: -34vw; */
   
  }
  
  

  }


  .page2{
      
    height: 200vh;
    /* background-color: gray; */
  }







  /* popup */

  /* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 20vh;
  position: relative;
 
  height: 50vh;
  margin: 0vw 3vw;
  padding: 14vw 0;
  margin-top: 5vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 999999;
  transition: 0.3s;
  transform: scale(1);
}

.popup-content {
  position: absolute;
  top: 27%;
  left: 60%;
  width: 80%;
  max-width: 50rem;
  margin: 14vw auto;
  height: 12rem;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  display: table;
  overflow: hidden;
  opacity: 1;
  /* height: 20%; */
  border-radius: 100px;
  /* background-color: rgba(255, 255, 255, 0.349); */
  background-color: rgba(255, 255, 255, 0.537);
  animation-iteration-count: 1;
  animation-fill-mode: inherit;
  /* animation-fill-mode: forwards; */

  animation: kk 2s  ;

}
.popup-img-container{
  object-fit: cover;
  background-size: cover;
  border-radius: 20px;
  height: 100%;
}
.right-content{
  /* background-color: #7a9d54; */
  width: 50%;
  height: 100%;
  color: #161719;
}
.right-content h1{
  color: #000;
  font-size: 3vw;
}
@keyframes 
kk {
  0%{
    opacity: 1;
   
  }
  50%{
 opacity: 0.5;
  }
  100%{
    opacity: 0;

  }

}

.popup-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5rem;
  right: 2rem;
  padding: 0.5rem;
  /* background-color: #b7987f; */
  background-color: rgb(95, 89, 89)(190, 167, 167);
  border-radius: 50%;
  cursor: pointer;
}

.popup-close {
  font-size: 3rem;
  color: white;
}

.popup-left {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

.popup-right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup-img-container {
  width: 100%;
  margin-bottom: 5vw;
  height: 50%;
  overflow: hidden;
}

.popup-img-container img.popup-img {
  display: block;
  width: 40rem;
  height: 25rem;
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.right-content {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.right-content h1 {
  font-size: 3rem;
  color: #000;
  margin-bottom: 6rem;
}

.right-content h1 span {
  color:green;
}

.right-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 4rem;
  margin-top: -5vw;
}

.popup-form {
  width: 100%;
  padding: 1rem 0;
  text-indent: 1rem;
  margin-bottom: 3rem;
  border-radius: 3rem;
  background-color: green;
  color: white;
  font-size: 1rem;
  border: none;
}

.popup-form::placeholder {
  color: white;
}

.popup-form:focus {
  outline: none;
}

.right-content a:link,
.right-content a:visited {
  display: inline-block;
  padding: 1.8rem 5rem;
  border-radius: 3rem;
  font-weight: 700;
  color: white;
  background-color: black;
  border: 1px solid gray;
  transition: 0.3s;
}

.right-content a:hover {
  background-color:green;
  border: 1px solid gray;
  color: black;
}
.popup-close i{
  color: rgb(204, 193, 193);
  background-color: #7a9d54;
  border-radius: 50%;
}

.hide-popup {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}

@media only screen and (max-width: 1200px) {
  .right-content {
    width: 100%;
  }

  .right-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
  }
  .right-content h1 span{
    color: #071206;
    font-size: 6vw;
   
  }
  .popup-content {
    position: absolute;
    top: 60%;
    left: 60%;
    width: 90%;}

    .popup-close {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 5rem;
      right: 3rem;
      padding: 0.5rem;
      background-color: #b7987f;
      background-color: rgb(95, 89, 89)(190, 167, 167);
      border-radius: 50%;
      cursor: pointer;
    }
}

@media only screen and (max-width: 998px) {
  .popup-right {
    width: 100%;
  }

  .popup-left {
    display: none;
  }

  .right-content h1 {
    font-size: 5rem;
  }
  .popup-content {
    position: absolute;
    top: 60%;
    left: 60%;
    width: 90%;}

    .popup-close {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 5rem;
      right: 5rem;
      padding: 0.5rem;
      /* background-color: #b7987f; */
      background-color: rgb(95, 89, 89)(190, 167, 167);
      border-radius: 50%;
      cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
  .right-content h1 {
    font-size: 4rem;
  }

  .right-content p {
    font-size: 1.6rem;
  }

  .popup-form {
    width: 90%;
    margin: 0 auto;
    padding: 1.8rem 0;
    margin-bottom: 1.5rem;
  }

  .goto-top:link,
  .goto-top:visited {
    right: 5%;
    bottom: 5%;
  }
  .page2{
    height: max-content;
  }
  .popup-content {
    position: absolute;
    top: 80%;
    left: 60%;
    width: 90%;}
}

@media only screen and (max-width: 568px) {
  .popup-right {
    padding: 0 1.6rem;
  }

  .popup-content {
    height: 35rem;
    width: 90%;
    margin: 0 auto;
  }

  .right-content {
    width: 100%;
  }
  .popup-content {
    position: absolute;
    top: 60%;
    left: 60%;
    width: 90%;}

  .right-content h1 {
    font-size: 3rem;
  }

  .right-content p {
    font-size: 1.4rem;
  }

  .popup-form {
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.3rem;
  }

  .right-content a:link,
  .right-content a:visited {
    padding: 1.5rem 3rem;
  }

  .popup-close {
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
  }
}